<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.fz.followme.dto.MemberDto" alias="MemberDto"/>
		<typeAlias type="com.fz.followme.dto.OrderDto" alias="OrderDto"/>
		<typeAlias type="com.fz.followme.dto.AssetDto" alias="AssetDto"/>
		<typeAlias type="com.fz.followme.dto.LicenseDto" alias="LicenseDto"/>
		<typeAlias type="com.fz.followme.dto.AccountDto" alias="AccountDto"/>
		<typeAlias type="com.fz.followme.dto.AttachmentDto" alias="AttachmentDto"/>
		<typeAlias type="com.fz.followme.dto.CalendarDto" alias="CalendarDto"/>
		<typeAlias type="com.fz.followme.dto.DocumentDto" alias="DocumentDto"/>
		<typeAlias type="com.fz.followme.dto.TodoDto" alias="TodoDto"/>
		<typeAlias type="com.fz.followme.dto.AttendanceDto" alias="AttendanceDto"/>
		<typeAlias type="com.fz.followme.dto.MessageDto" alias="MessageDto"/>
		<typeAlias type="com.fz.followme.dto.LeavepDto" alias="LeavepDto"/>
		
		<typeAlias type="com.fz.followme.dto.BoardDto" alias="BoardDto"/>
		<typeAlias type="com.fz.followme.dto.AssetReservationDto" alias="AssetReservationDto"/>

		<typeAlias type="com.fz.followme.dto.NotificationDto" alias="NotificationDto"/>
		<typeAlias type="com.fz.followme.dto.EmailDto" alias="EmailDto"/>
		
		<typeAlias type="com.fz.followme.dto.SocialFeedDto" alias="SocialFeedDto"/>

		<typeAlias type="com.fz.followme.dto.ReplyDto" alias="ReplyDto"/>
		
		<typeAlias type="com.fz.followme.dto.OrganizationDto" alias="OrganizationDto"/>

		
		
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/order-mapper.xml"/>
		<mapper resource="mappers/asset-mapper.xml"/>
		<mapper resource="mappers/calendar-mapper.xml"/>
		<mapper resource="mappers/document-mapper.xml"/>
		<mapper resource="mappers/notice-mapper.xml"/>
		<mapper resource="mappers/companyNews-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/> 
		<mapper resource="mappers/todo-mapper.xml"/>
		<mapper resource="mappers/attendance-mapper.xml"/>
		<mapper resource="mappers/message-mapper.xml"/>
		<mapper resource="mappers/notification-mapper.xml"/>
		<mapper resource="mappers/email-mapper.xml"/>
		<mapper resource="mappers/socialFeed-mapper.xml"/>
		<mapper resource="mappers/organization-mapper.xml"/>
	</mappers>

</configuration>
