<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="assetMapper">

<resultMap id="assetResult" type="AssetDto">
	<id column="asset_no" property="assetNo"></id>
	<result column="asset_type" property="assetType"></result>
	<result column="regist_date" property="registDate"></result>
	<result column="asset_name" property="assetName"></result>
	<result column="car_no" property="carNo"></result>
	<result column="no_mem" property="noMem"></result>
	<result column="rsvn_qty" property="rsvnQty"></result>
	<result column="status" property="status"></result>
	<result column="modify_date" property="modifyDate"></result>
</resultMap>

<resultMap id="assetReservationResult" type="AssetReservationDto">
	<id column="RSVN_NO" property="rsvnNo"></id>
	<result column="ASSET_NO" property="assetNo"></result>
	<result column="RSVN_NAME" property="rsvnName"></result>
	<result column="RSVN_DATE" property="rsvnDate"></result>
	<result column="START_DIVISION" property="startDivision"></result>
	<result column="START_DATE" property="startDate"></result>
	<result column="END_DIVISION" property="endDivision"></result>
	<result column="END_DATE" property="endDate"></result>
	<result column="RSVN_CONTENT" property="rsvnContent"></result>
	<result column="STATUS" property="status"></result>
	<result column="ASSET_NAME" property="assetName"></result>
	<result column="DEPT_NAME" property="deptName"></result>
</resultMap>

<!-- 법인차량 리스ㅡ 조회 -->
<select id="selectcarList" resultMap="assetResult">
	select
       asset_no
     , regist_date
     , asset_name
     , car_no
     , no_mem
     , status
  from tb_asset
 where asset_type = 'C'
</select>

<!-- 차량 추가 -->
<insert id="insertCar">
	insert 
	  into tb_asset
	  (
	    asset_no
	  , asset_type
	  , regist_date
	  , asset_name
	  , car_no
	  , no_mem
	  , status
	  )
	  values
	  (
	    seq_assetno.nextval
	  , 'C'
	  , #{registDate}
	  , #{assetName}
	  , #{carNo}
	  , #{noMem}
	  , #{status}
	  )
</insert>

<!-- 법인차량 상세조회 -->
<select id="selectCar" resultMap="assetResult">
	select
       asset_no
     , TO_CHAR(regist_date, 'YYYY-MM-DD') regist_date
     , asset_name
     , car_no
     , no_mem
     , status 
  from tb_asset
 where asset_no = #{no}
</select>

<update id="updatecar">
	update
	       tb_asset
	   set regist_date = #{registDate}
	      , asset_name = #{assetName}
	      , car_no = #{carNo}
	      , no_mem = #{noMem}
	      , status = #{status}
	      , modify_date = sysdate
	 where asset_no  = #{assetNo}
</update>

<select id="selectCarReservationListCount" resultType="_int">
	select
	       count(*)
	  from tb_asset_rsvn 
</select>


<!-- 차량 이용내역 조회  -->
<select id="selectCarReservationList" resultMap="assetReservationResult">
	SELECT
	       RSVN_NO 
	     , ASSET_NAME 
	     , to_char(rsvn_Date,'YYYY/MM/DD') rsvn_Date
	     , START_DIVISION 
	     , TO_CHAR(START_DATE, 'HH:MI AM') START_DATE
	     , END_DIVISION 
	     , TO_CHAR(END_DATE, 'HH:MI AM') END_DATE
	     , RSVN_NAME 
	     , DEPT_NAME
	     , RSVN_CONTENT
	  FROM TB_ASSET_RSVN A
	  JOIN TB_ASSET USING (ASSET_NO)
	  LEFT JOIN TB_MEM M ON (A.RSVN_NAME = M.MEM_NAME )
	  LEFT JOIN TB_DEPARTMENT D ON (M.DEPT_NO = D.DEPT_NO)
	 WHERE ASSET_TYPE = 'C'
	   AND A.STATUS = 'Y'   
	  ORDER BY RSVN_DATE DESC
</select>

<!-- 차량 삭제 -->
<delete id="deleteCar">
	delete
	  from tb_asset
	 where asset_no = #{no}
</delete>


<!-- 차량 이용내역 삭제 -->
<delete id="deleteRsvnList">
		delete
		  from tb_asset_rsvn
		 where rsvn_no in
		 <foreach item="checkedRsvn" collection="array" open="(" separator="," close=")">
		 		#{checkedRsvn}
		 </foreach>
</delete>


<!-- 차량예약 -->
<insert id="insertRsvnCar" parameterType="AssetReservationDto">
insert
  into tb_asset_rsvn
  (
    rsvn_no
  , asset_no
  , rsvn_name
  , rsvn_date
  , start_division
  , start_date
  , end_division
  , end_date
  , rsvn_content
  )
  values
  (
    seq_assetresno.nextval
  , (select asset_no
       from tb_asset
      where asset_name = #{assetName})
  , #{rsvnName}
  , to_date(#{rsvnDate},'YYYY/MM/DD')
  , #{startDivision}
  , to_date(#{startDate},'YYYY/MM/DD HH24')
  , #{endDivision}
  , to_date(#{endDate},'YYYY/MM/DD HH24')
  , #{rsvnContent}
  )
</insert>


<!-- 예약 신청시 중복체크(트랜잭션) -->
<select id="doublecheckReservation" resultType="_int"  parameterType="com.fz.followme.dto.AssetReservationDto">
  <![CDATA[
  select count(*)
    from tb_asset_rsvn r
   where r.rsvn_date = to_date(#{rsvnDate}, 'YYYY/MM/DD')
     and r.asset_no = (select a.asset_no 
                         from tb_asset a
                        where a.asset_name = #{assetName})
     and (
      (r.start_date <= to_date(#{startDate},'YYYY-MM-DD HH24') and r.end_date >= to_date(#{startDate},'YYYY-MM-DD HH24'))
      or 
      (r.start_date <= to_date(#{endDate},'YYYY-MM-DD HH24') and r.end_date >= to_date(#{endDate}, 'YYYY-MM-DD HH24')) 
      or
      (r.start_date >= to_date(#{startDate}, 'YYYY-MM-DD HH24') and r.end_date <= to_date(#{endDate},'YYYY-MM-DD HH24'))
     )
  ]]>   
</select>


<!-- 스케줄러 업데이트 -->
<update id="updateAssetendDateStatus">
	<![CDATA[
		update tb_asset
	     set status = 'Y'
	   where asset_no IN ( select asset_no
	                         from tb_asset_rsvn
	                        where end_date <= SYSDATE)
	]]>
</update>

<!-- 스케줄러 업데이트 -->
<update id="updateAssetstartDateStatus">
	<![CDATA[
		update tb_asset
		   set status = 'N'
		 where asset_no IN ( select asset_no
		                       from tb_asset_rsvn
		                      where start_date > SYSDATE) 
	]]>
</update>


<!-- 차량 예약 조회(사용자) -->
<select id="selectDateList" resultMap="assetReservationResult">
	SELECT
		       RSVN_NO 
		     , ASSET_NAME 
		     , TO_CHAR(RSVN_DATE,'YYYY/MM/DD') RSVN_DATE
		     , START_DIVISION 
		     , TO_CHAR(START_DATE, 'HH:MI AM') START_DATE
		     , END_DIVISION 
		     , TO_CHAR(END_DATE, 'HH:MI AM') END_DATE
		     , RSVN_NAME 
		     , DEPT_NAME
		     , RSVN_CONTENT
		  FROM TB_ASSET_RSVN A
		  JOIN TB_ASSET USING (ASSET_NO)
		  LEFT JOIN TB_MEM M ON (A.RSVN_NAME = M.MEM_NAME )
		  LEFT JOIN TB_DEPARTMENT D ON (M.DEPT_NO = D.DEPT_NO)
		 WHERE ASSET_TYPE = 'C'
	     AND RSVN_DATE = TO_DATE(#{rsvnDate}, 'YYYY-MM-DD')
	     AND A.STATUS = 'Y'
</select>

<!-- 차량 예약 선택 삭제(사용자) -->
<update id="deleteRsvnListMember">
	update tb_asset_rsvn
	   set status = 'N'
	 where rsvn_no in
	 <foreach item="checkedRsvn" collection="array" open="(" separator="," close=")">
	 		#{checkedRsvn}
	 </foreach>
</update>




</mapper>