<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="calendarMapper">
	<resultMap type="CalendarDto" id="calendarMap">
		<id column="cal_no" property="calNo"/>
		<result column="mem_no" property="memNo"/>
		<result column="cal_title" property="title"/>
		<result column="cal_content" property="content"/>
		<result column="bgcolor" property="bgColor"/>
		<result column="bordercolor" property="borderColor"/>
		<result column="textcolor" property="textColor"/>
		<result column="cal_date" property="calDate"/>
		<result column="start_date" property="start"/>
		<result column="end_date" property="end"/>
		<result column="category" property="category"/>
		<result column="type" property="type"/>
	</resultMap>
	
	<!-- 일정 조회 -->
	<select id="selectCalendarList" resultMap="calendarMap">
		SELECT 
			cal_no,
			mem_no,
			cal_title,
			cal_content,
			cal_date,
			start_date,
			end_date,
			category,
			type
		FROM 
			tb_calendar
	</select>
	<!-- 일정 등록 -->
	<insert id="insertCalendar">
			insert
					into tb_calendar
					(
						cal_no
					, mem_no
					, cal_title
					, cal_content
					, start_date
					, end_date
					, category
					, type
					)
					values
					(
						SEQ_CALNO.NEXTVAL
					, #{memNo}
					, #{title}
					, #{content}
					, #{start}
					, #{end}
					, #{category}
					, #{type}
					)
		
	
	</insert>



</mapper>