<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="companyNewsMapper">

	<resultMap type="boardDto" id="CompanyNewsResult">
		<id column="board_no" property="boardNo"/>
		<result column="board_title" property="boardTitle"/>
		<result column="mem_name" property="memNo"/>
		<result column="enroll_date" property="enrollDate"/>
		<result column="read_count" property="readCount"/>
		<result column="board_type" property="boardType"/>
		<result column="attach_Count" property="attachCount"/>
	</resultMap>
	
	<!-- 사내소식 전체글 갯수 -->
	<select id="selectCompanyNewsListCount" resultType="_int">
		select
				count(*)
		   from tb_board
		  where status = 'Y'
		    and board_type = 'CO'
	</select>
	
	<!-- 사내소식 전체 목록 조회 -->
	<select id="selectCompanyNewsList" resultMap="CompanyNewsResult">
		select
	        to_number(substr(board_no, instr(board_no, '_') + 1)) AS board_no,
	        board_title,
	        mem_name,
	        b.enroll_date,
	        read_count,
	        (
	            select count(*)
	            from tb_attachment
	            where ref_no = to_number(substr(board_no, instr(board_no, '_') + 1))
	        ) as attach_count
	    from
	         tb_board b
	    join tb_mem using (mem_no)
	    where
	        b.status = 'Y'
	        AND board_type = 'CO'
	    order by
	        to_number(substr(board_no, instr(board_no, '_') + 1)) desc
	</select>
	
	<select id="selectLatestPostList" resultMap="CompanyNewsResult">
		select
				board_type
			  , board_title
			  from(
			  select *
			  from tb_board
			  order
			  	 by enroll_date desc
			  )
			  where rownum between 1 and 5
	
	</select>
	
	

</mapper>