<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orderMapper">

	<resultMap id="orderResult" type="OrderDto">
		<id column="order_no" property="orderNo"/>
		<result column="pro_no" property="proNo"/>
		<result column="order_amount" property="orderAmount"/>
		<result column="order_date" property="orderDate"/>
		<result column="pro_name" property="proName"/>
		<result column="pro_price" property="proPrice"/>
		<result column="revenue" property="revenue"/>
		<result column="pro_img_path" property="proImgPath"/>
	</resultMap>
  
  <select id="selectOrder" resultMap="orderResult">
  	select order_no, pro_no, order_amount, order_date
  	from tb_order
  	where order_date between trunc(sysdate)-7 and trunc(sysdate)-1
  </select>
  
  <!-- 최근 1주일치 매출액 가장 높은 것 1개 뽑기용 -->
  <select id="selectRevenue" resultMap="orderResult">
  	select * from
  	(
		select p.pro_no, pro_name, pro_price, order_amount, (pro_price * order_amount) as revenue, order_date, pro_img_path
  	  from tb_product p
      left join tb_order o on (p.pro_no = o.pro_no)
     where order_date between trunc(sysdate)- 7 and trunc(sysdate)
     order by revenue desc
    ) 
    where rownum <![CDATA[<=]]> 1
  </select>
  
  <!-- 오늘의 매출액, 오늘의 판매량 구하는용 -->
  <select id="selectTodayInfo" resultMap = "orderResult">
  	select
  				order_amount, (pro_price * order_amount) as revenue, order_date
  	  from tb_product p
      left join tb_order o on (p.pro_no = o.pro_no)
     where trunc(order_date) = trunc(sysdate)
  </select>
  
  
</mapper>
