<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="organizationMapper">
<resultMap type="OrganizationDto" id="OrganizationResult">
	<result column="mem_no" property="memNo"/>
	<result column="mem_name" property="memName"/>
	<result column="dept_no" property="deptNo"/>
	<result column="dept_name" property="deptName"/>
	<result column="authorization_level" property="autLevel"/>
	<result column="mem_grade" property="memGrade"/>
	<result column="enroll_date" property="enrollDate"/>
	<result column="mem_email" property="email"/>
	<result column="dept_upstair" property="deptUpstair"/>
	<result column="phone" property="phone"/>

</resultMap>


	<select id="selectOrganizationList" resultMap="OrganizationResult">
		SELECT DISTINCT
		    CAST(d.DEPT_NO AS VARCHAR2(50) )AS DEPT_NO,
		    d.dept_name AS dept_name,
		    CAST(d.dept_upstair AS VARCHAR2(100)) AS dept_upstair -- 부서번호와 동일한 데이터 유형으로 캐스팅
		FROM
		    TB_DEPARTMENT d
		    JOIN tb_mem m ON d.DEPT_NO = m.DEPT_NO
		
		UNION ALL
		
		SELECT
		    mem_no AS DEPT_NO, -- 부서번호
		    mem_name AS dept_name, -- 부서명
		    CAST(dept_no AS VARCHAR2(100)) AS dept_upstair -- 회원상위 (부서번호와 동일한 데이터 유형으로 캐스팅)
		FROM
		    tb_mem
		WHERE
		    STATUS = 'Y'
	</select>




</mapper>