<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<appender class="ch.qos.logback.core.ConsoleAppender" name="consoleLog">
		<encoder>
			<pattern>%-5level: [%date{HH:mm:ss}] [%logger{0}:%line] - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="org.springframework" 	level="info"/>
	<logger name="com.br.spring"				level="debug" />
	
	<logger name="jdbc.sqlonly" 				level="info" /> 	<!-- 쿼리문 -->
	<logger name="jdbc.sqltiming" 			level="off" /> 		<!-- 쿼리문 + 실행시간 -->
	<logger name="jdbc.audit" 					level="off" /> 		<!-- JDBC 호출 정보 -->
	<logger name="jdbc.resultset" 			level="off" />		<!-- ResultSet 호출 정보 -->
	<logger name="jdbc.resultsettable" 	level="off" />		<!-- ResultSet 결과 (조회결과 테이블) -->
	<logger name="jdbc.connection" 			level="off" />		<!-- Connection 호출 정보 -->
	
	<root level="warn">
		<appender-ref ref="consoleLog"/>
	</root>
	
</configuration>